spring:
  application:
    name: diet

  datasource:
    url: ${DB_URL_KIRYONG}
    username: ${DB_USERNAME_KIRYONG}
    password: ${DB_PASSWORD_KIRYONG}
    driver-class-name: com.mysql.cj.jdbc.Driver

  jpa:
    hibernate:
      ddl-auto: update #create
    properties:
      hibernate:
        show_sql: false
        format_sql: false
        dialect: org.hibernate.dialect.MySQLDialect
    defer-datasource-initialization: true

  sql:
    init:
      mode: never
      encoding: UTF-8

server:
  port: 8081

logging:
  level:
    org.hibernate.SQL: info
    org.hibernate.orm.jdbc.bind: warn

jwt:
  secret: ${JWT_KEY}

cloud:
  aws:
    s3:
      bucketName: ${BUCKET_NAME}
    credentials:
      accessKey: ${ACCESS_KEY}
      secretKey: ${SECRET_KEY}
    region.static: ${REGION}
    stack.auto: false

kakao:
  client_id: ${REST_API_KEY}
  redirect_uri: http://localhost:8081/api/kakao-login
