spring:
  application:
    name: diet

  datasource:
    url: ${DB_URL_KIRYONG}               # 예: jdbc:postgresql://HOST:5432/kibab?sslmode=require
    username: ${DB_USERNAME_KIRYONG}
    password: ${DB_PASSWORD_KIRYONG}
    # driver-class-name: org.postgresql.Driver   # (선택) 명시하고 싶으면 이렇게

  #datasource:
    #url: jdbc:postgresql://localhost:5432/postgres
    #username: postgres
    #password: 5432

  jpa:
    hibernate:
      ddl-auto: update
    properties:
      hibernate:
        show_sql: false
        format_sql: false
        dialect: org.hibernate.dialect.PostgreSQLDialect   # ✅ 또는 이 줄을 통째로 제거(자동 판별)
        jdbc:
          time_zone: Asia/Seoul   # ✅ 타임존 서울로 고정
    defer-datasource-initialization: true

  sql:
    init:
      mode: never
      encoding: UTF-8

  elasticsearch:
    uris: ${ELASTICSEARCH_URL}
    username: ${ELASTIC_USERNAME}
    password: ${ELASTIC_PASSWORD}

server:
  port: 8080

logging:
  level:
    org.hibernate.SQL: info
    org.hibernate.orm.jdbc.bind: warn

jwt:
  secret: ${JWT_KEY}

cloud:
  aws:
    s3:
      bucketName:
        diet: ${BUCKET_NAME}
        kyongsul: ${KYONGSUL_BUCKET_NAME}
        eSquare: ${E_SQUARE_BUCKET_NAME}
        sallyBox: ${SALLY_BOX_BUCKET_NAME}
    credentials:
      accessKey: ${ACCESS_KEY}
      secretKey: ${SECRET_KEY}
    region.static: ${REGION}
    stack.auto: false

kakao:
  client_id: ${REST_API_KEY}
  redirect_uri: https://www.kiryong.kr/auth

springdoc:
  swagger-ui:
    doc-expansion: none
    try-it-out-enabled: true
    disable-swagger-default-url: true
    filter: true
    urls:
      #- url : http://localhost:8080/v3/api-docs # dev
      - url: https://api.kiryong.kr/v3/api-docs   # ✅ HTTPS 강제
        name: Kiryong API

openai:
  api-key: ${OPENAI_API_KEY}
  base-url: https://api.openai.com/v1