<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Dormitory Restaurant</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
    <a href="/">홈</a>
    <div class="container">
        <div>
            <h1>HELLO, Dormitory Restaurant</h1>
            <p>이번주 메뉴</p>
            <div>
                <table border="1">
                    <thead>
                        <tr>
                            <th th:text="${monday != null ? monday.date + ' (월)' : '월'}"></th>
                            <th th:text="${tuesday != null ? tuesday.date + ' (화)' : '화'}"></th>
                            <th th:text="${wednesday != null ? wednesday.date + ' (수)' : '수'}"></th>
                            <th th:text="${thursday != null ? thursday.date + ' (목)' : '목'}"></th>
                            <th th:text="${friday != null ? friday.date + ' (금)' : '금'}"></th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td th:if="${monday != null}">
                                <ul>
                                    <li th:each="food : ${monday.contents}" th:text="${food.name}"></li>
                                </ul>
                            </td>
                            <td th:if="${tuesday != null}">
                                <ul>
                                    <li th:each="food : ${tuesday.contents}" th:text="${food.name}"></li>
                                </ul>
                            </td>
                            <td th:if="${wednesday != null}">
                                <ul>
                                    <li th:each="food : ${wednesday.contents}" th:text="${food.name}"></li>
                                </ul>
                            </td>
                            <td th:if="${thursday != null}">
                                <ul>
                                    <li th:each="food : ${thursday.contents}" th:text="${food.name}"></li>
                                </ul>
                            </td>
                            <td th:if="${friday != null}">
                                <ul>
                                    <li th:each="food : ${friday.contents}" th:text="${food.name}"></li>
                                </ul>
                            </td>
                        </tr>
                    </tbody>
                </table>
                <a href="/restaurant/dormitory/diet/new">식단 등록</a>
            </div>
            <div>
                <p>식당 리뷰</p>
                <p>
                    <a href="/restaurant/dormitory/reviews">기숙사 식당</a>
                </p>
            </div>
        </div>
    </div>
</body>
</html>
