<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Dormitory Restaurant</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
    <a href="/">홈</a>
    <div class="container">
        <div>
            <h1>HELLO, Dormitory Restaurant</h1>
            <p th:text="'제목: ' + ${review.title}"></p>
            <div>
                <div>
                    <p th:text="'내용: ' + ${review.content}"></p>
                    <p th:text="'글쓴이: ' + ${review.memberName}"></p>
                </div>
            </div>
        </div>
    </div>
</body>
</html>