<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>KGU DIET SITE</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
    <div class="container">
        <div>
            <h1>HELLO, KGU - DIET SITE</h1>
            <p>회원 기능</p>
            <p>
                <a href="/members/new">회원 가입</a>
                <a href="/members">회원 목록</a>
                <a href="/members/login">로그인</a>
            </p>
            <p>식당</p>
            <p>
                <a href="/restaurant/dormitory">기숙사 식당</a>
            </p>
        </div>
    </div>
</body>
</html>