name: Build & Push to ECR
on:
  push:
    branches: [ "main" ]

jobs:
  build-push:
    runs-on: ubuntu-latest
    permissions:
      id-token: write   # OIDC
      contents: read
    steps:
      - uses: actions/checkout@v4

      - uses: actions/setup-java@v4
        with:
          distribution: temurin
          java-version: "21"

      - name: Gradle cache
        uses: gradle/actions/setup-gradle@v3

      - name: Build JAR
        run: ./gradlew clean build -x test

      - name: Configure AWS credentials (OIDC)
        uses: aws-actions/configure-aws-credentials@v4
        with:
          role-to-assume: arn:aws:iam::381305464439:role/push
          aws-region: ap-northeast-2

      - name: Login to ECR
        id: login-ecr
        uses: aws-actions/amazon-ecr-login@v2

      - name: Build & Tag image
        run: |
          ECR="${{ steps.login-ecr.outputs.registry }}/kiryong"
          TAG=$(git rev-parse --short=8 HEAD)
          echo "ECR=$ECR" >> $GITHUB_ENV
          echo "TAG=$TAG" >> $GITHUB_ENV
          docker build -t $ECR:$TAG -t $ECR:latest .

      - name: Push image
        run: |
          docker push $ECR:$TAG
          docker push $ECR:latest
